{% extends "baseshabl.html" %}
{% block content %}
    <h2 class='table1'>Основная страница</h2>
<hr>
  <p>Если что-то непонятно, используйте голосовой ввод.</p>
  <input type="button" name='начало' class="butt" value='Начать прослушивание' onclick="start()">
  <input type="button" name='конец' class="butt" value='Закончить' onclick="stop()">
  <hr>
  <h1>Сайт по продаже печенья</h1>
    <div id='описание'>
    <p>Наш сайт - один из крупнейших онлайн-продавцов печенья в России. Здесь вы можете найти огромный выбор российской и
        зарубежной продукции на любой выбор и вкус. Надеемся, вы смоежете  найти то, что вас заинтересует.</p>
    <h3>О поставщиках</h3>
    <p>Наша компания имеет поставщиков по всему миру. Мы предлагаем вам на выбор многие традиционные изделия со всего света.
        Например: Батончики нанаймо, печенье амишей, свадебное мексиканское печенье. В нашей фирме действует одна из
        самых качественных служб проверки поставщиков, поэтому на нашем сайте вы найдете исключительно товары, сделанные добросовест7но</p>
    <h3>Наши самые популярные продукты</h3>
    </div>
    <img class='img' src="static/печенье 2.jpg" width="370" height="250" alt="здесь должна быть картинка, но ее почему-то нет"/>
    <div class="tablex" id='товар'>
        <ul>
            <li>Овсяное печенье</li>
            <li>Ржаное печенье</li>
            <li>Абрикосовое печенье</li>
            <li>Миндальные хлебцы</li>
            <li>Кокосовое печенье</li>
            <li>Трюфели</li>
            <li>Халва</li>
        </ul>
    </div>
    <h3>Список основных стран поставщиков</h3>
    <div class='tablex' id='поставщик'>
        <ul>
            <li>США</li>
            <li>Мексика</li>
            <li>Польша</li>
            <li>Канада</li>
            <li>Египет</li>
            <li>ЮАР</li>
            <li>Мали</li>
            <li>Германия</li>
            <li>Италия</li>
            <li>Франция</li>
            <li>Япония</li>
        </ul>
    </div>
<img class='img' src="static/печенье4.jpeg" width="370" height="250" alt="здесь должна быть картинка, но ее почему-то нет"/>
  <script>
  var recogn = new webkitSpeechRecognition();
  var tsaurus0 = ['перемести', 'выдел', 'спусти']; // создаем первый тезаурус с командами
  var tsaurus1 = ['поставщик', 'заказ', 'товар', 'контакт', 'описани', 'инструкци' ]; // создаем второй тезаурус с обрабатываемыми элементами
  var namin1 = '';
  var namin2 = '';
  recogn.lang = 'ru-Ru';
  recogn.interimResults = true; // инициализация
  recogn.onresult = function (event) {
    var result = event.results[event.resultIndex];
    if (result.isFinal) {var tsaurus2 = result[0].transcript.split(' '); // Разбиение текста на части
      for (let i = 0; i < tsaurus2.length; i++) {
          for (let j = 0; j < tsaurus1.length; j++) {
              if (tsaurus1[j].indexOf(tsaurus1[i]) != -1){
                  namin1 = tsaurus1[i];}}} // получение имени элемента}}}
      for (let i = 0; i < tsaurus0.length; i++) {
          for (let j = 0; j < tsaurus2.length; j++) {
              if (tsaurus2[j].indexOf(tsaurus0[i]) != -1){
                  namin2 = tsaurus0[i];}}} // получение названия команды}}}
        if (namin1 == '' || namin2 == ''){
            alert('произошла ошибка, попробуйте еще раз'); // обработка ошибок
        } else if (namin2 == 'спустить'){
                window.location.href = window.location.href + '#' + namin1; // переход по ссылке, здесь и нужно поменять первоначальный адрес, чтобы протестировать эту функцию
            } else if (namin2 == 'выдели'){
                var element = document.getElementById(namin1);
                element.style.backgroundColor = 'red'; // изменение цвета
            }  else if (namin2 == 'перейт'){
                var elem = document.getElementById(namin1).href;
                window.location.href = elem; // переход по ссылке}}
        namin1 = ''
        namin2 = ''
      }} else {console.log('Промежуточный результат: ', result[0].transcript);}};
  function start () {recogn.start();}
// команда остановки
  function stop () {synth.pause();}
  </script>
{% endblock %}