{% extends "baseshabl.html" %}
{% block content %}
<h1>{{user}}</h1>
<footer>
        <p>Совершая заказ, вы соглашаетесь с нашей политикой конфиденциалтьности относительно ваших контактов а также учетных записей и банковских данных.</p>
        <p>Сайт не является пропагандистским, агитационным, не содержит материалов и создан сугубо в коммерческих целях.</p>
        <p>Заказ отменить невозможно</p>
        <p>На этой странице сайта голосовой модуль не работает</p>
        <p>Телефон для контактов: +7 926 666 66 66</p>
    </footer>
{% endblock %}