{% extends "baseshabl.html" %}
{% block content %}
  <h2 class='table1'>Инструкция</h2>
<hr>
  <p>Для того, чтобы что-то ввести, cкажите команду, а потом название элемента, по которому будете искать.</p>
  <p>Внимание! Работает  не со всеми элементами, вот их список.</p>
  <hr>
  <h5>Все распознаваемые команды</h5>
  <ul>
  <li>Чтобы выделить текст, скажите 'Выделить'.</li>
  <li>Чтобы проскроллить до нужной вам сторки, скажите 'Спуститься'.</li>
  <li>Чтобы перейти на конкретную ссылку, скажите 'Перейти'.</li>
  </ul>
  <hr>
  <h5>Если же что то сработало не так, возможны следующие варианты ошибок:</h5>
  <ul>
    <li>Слишком шумно или компьютер не распознал вашу речь</li>
    <li>Вы сказали не те вводные слова</li>
    <li>Вы ищите по элементам, которых нет в тезаурусе</li>
  </ul>
  <hr>
  <h5>Вот все эелементы, которые обрабаьтываются поиском.</h5>
  <ul>
    <li>Контакты</li>
    <li>Поставщик</li>
    <li>Товар</li>
    <li>Заказ</li>
    <li>Описание</li>
    <li>Инструкция</li>
  </ul>
{% endblock %}

