{% extends "baseshabl.html" %}
{% block content %}
  <h2 class='table1'>Инструкция</h2>
<hr>
  <p>Для того, чтобы что-то ввести, cкажите команду, а потом название элемента, по которому будете искать. После этого
  программа выведет то, что вы сказали, а потом выполнит команду. Отменить действие нельзя, можно только перезагрузить страницу</p>
  <p>Внимание! Работает не со всеми элементами и только на главной странице(за отсутсвием какой либо необходимой
    информации на других страницах). Также функция выделения работает очень страноо, тк стиль нельзя изменить, и пришлось использовать display.</p>
<p>Текст нужно говорить четко и ясно. Пример:'Выдели поставщиков', или 'Перемести на инструкцию', или 'Спусти на продукты'</p>
  <hr>
  <h5>Все распознаваемые команды</h5>
  <ul>
  <li>Чтобы выделить текст, скажите 'Выдели'.</li>
  <li>Чтобы проскроллить до нужной вам сторки, скажите 'Спусти'.</li>
  <li>Чтобы перейти на конкретную ссылку, скажите 'Перемести'.</li>
  </ul>
  <hr>
  <h5>Если же что то сработало не так, возможны следующие варианты ошибок:</h5>
  <ul>
    <li>Слишком шумно или компьютер не распознал вашу речь</li>
    <li>Вы сказали не те вводные слова</li>
    <li>Вы ищите по элементам, которых нет в тезаурусе</li>
  </ul>
  <hr>
  <h5>Все выделяемые элементы и элементы, к которым можно подняться/спуститься.</h5>
  <ul>
    <li>Поставщик</li>
    <li>Продукты</li>
    <li>Описание</li>
  </ul>
<h5>Ссылки, по которым нужно перейти.</h5>
  <ul>
    <li>Заказ - окно, где можно сделать заказ</li>
    <li>Таблица - страница всех заказов</li>
    <li>Инструкция - страница с инструкцией</li>
    <li>Главная - гласная страница</li>
  </ul>
{% endblock %}