<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Распознавание голоса и чтение текста</title>
  <html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
  <h4>Инструкция</h4>
  <p>Для того, чтобы что-то ввести, cкажите команду, а потом название элемента, по которому будете искать.</p>
  <p>Внимание! Работает  не со всеми элементами, вот их список.</p>
  <p>Чтобы выделить текст, скажите 'Выделить'.</p>
  <p>Чтобы проскроллить до нужной вам сторки, скажите 'Спуститься'.</p>
  <p>Чтобы перейти на конкретную ссылку, скажите 'Перейти'.</p>
  <p>Если же что то сработало не так, возможны следующие варианты ошибок:</p>
  <ul>
    <li>Слишком шумно или компьютер не распознал вашу речь</li>
    <li>Вы сказали не те вводные слова</li>
    <li>Вы ищите по элементам, которых нет в тезаурусе</li>
  </ul>
  <p>Вот все эелементы, которые обрабаьтываются поиском.</p>
  <ul>
    <li>Контакты</li>
    <li>Поставщик</li>
    <li>Товар</li>
    <li>Заказ</li>
    <li>Описание</li>
    <li>Инструкция</li>
  </ul>
</body>
</head>
